@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: 222.2 47.4% 11.2%;
  --primary-foreground: 210 40% 98%;
  --background: 180, 4%, 5%;
  --foreground: 120, 100%, 100%;
  --muted: 210 40% 96.1%;
  --muted-foreground: 215.4 16.3% 46.9%;
  --card: 180, 2%, 10%;
  --card-foreground: 180, 2%, 10%;
  --popover: 0 0% 100%;
  --popover-foreground: 222.2 47.4% 11.2%;
  --border: 192 4% 49%;
  --input: 214.3 31.8% 91.4%;
  --secondary: 240, 1%, 68%;
  --secondary-foreground: 240, 1%, 68%;
  --accent: 223, 100%, 50%;
  --accent-foreground: 223, 100%, 50%;
  --destructive: 0 100% 50%;
  --destructive-foreground: 210 40% 98%;
  --ring: 215 20.2% 65.1%;
  --radius: 0.5rem;

  --portfolio-green: 154, 25%, 11%;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: hsl(var(--foreground));
  background: hsl(var(--background));
  overscroll-behavior-y: none;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
